body {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #eae7f6;
}
.title h2 {
  color: rgb(90, 81, 100);
}
.copy-btn {
  display: none;
}
.color-options {
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 60px;
  align-items: center;
}
.color-option {
  width: 100px;
  height: 48px;
  cursor: pointer;
  border-radius: 8px;
  transition: border linear .1s;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.color-option:hover {
  border: 4px solid white;
  border-radius: 12px;
}

.color-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#choice-color {
  padding: 100px 0;
  border: 2px solid #eae7f6;
  background-color:#fff;
  width: 50%
}

#bosek-color {
  padding: 100px 0;
  border: 2px solid #eae7f6;
  background-color:#fff;
  width: 50%
}

